/*
Sistema: Meu Bandeco app
*/

@use "sass:map";
@import "base";

:root {
    /*Cores de branding */
    --mbdc-cor-primaria: #ed1c24;
    --mbdc-cor-leve: #f3f3f3;
    --mbdc-cor-cinza: #BDBDBD;
    --mbdc-border-radius: 7px;

    /* Espaços/distancias padrão */
    --mbdc-s-xs: 0.5rem;
    --mbdc-s-sm: 0.7rem;
    --mbdc-s-md: 1.2rem;
    --mbdc-s-ed: 1.9rem;

    /*Tamanhos de fonte padrao*/
    --mdbc-fs-xs: 0.7rem;
    --mdbc-fs-n: 12pt;
}

html {
    scroll-behavior: smooth;    
    font-family: "Montserrat",  sans-serif;
}
 
body {
    //color: white; 
    background-color: transparent; //var(--mbdc-cor-primaria);
}
.svg-container {
    &.brand-simb{
        /* Container para o simbolo da marca*/
        max-width: 68px;
        max-height: 43px;
    }
    &.brand-logotipo{
        /* Container para o logotipo da marca*/       
        max-width: 90%;      
    }
    &.svg-sprite {
        height: 0;
        display: none;
    }    
}
.secao {
    margin: 0;
    padding: 0;    
    min-height: 100vh;
    display: flex ;
    & > *{
        // flex-shrink: 0;        
    }
    .secao-container {
        padding: 30px;
    }
    
    &.secao-start {

        background-color: var( --mbdc-cor-primaria);
        color: white;
        align-items: center;

        .secao-container{

        }
        p{
            font-size: 18px;
        }

    }    
    &.secao-precadastro {
    }
}

.btn {

    @extend %form-field--base;
    @extend %form-button-base;

    &.btn-primary {
        background-color: var( --mbdc-cor-primaria );
        color: white;
        &:hover, &:active{
            background-color: #D4040C; 
        }

    }
    &.btn-lg {
    }

    &.btn-cta {
        /*Botao para chamada de vendas/destaque*/
        color: var(--mbdc-cor-primaria) ;
        font-weight: bold;
        padding:  var( --mbdc-s-sm ) var( --mbdc-s-md ); 
        &:hover, &:active{
            background-color: var( --mbdc-cor-leve ); 
        }

    }
    &.btn-neg {
        background-color: white;
    }    
}
/*Formulários*/
.form-group {
    /*Base*/
    display: block;
    margin-bottom: 1rem;
}

%form-field--base {
    border-radius: var(--mbdc-border-radius);
    font-weight: bold;

    &::placeholder {
        color: var(--mbdc-cor-cinza);
    } 
    &:invalid{
        color: var(--mbdc-cor-primaria );
        border-color: var( --mbdc-cor-primaria );
    }

}
%form-button-base{
    padding:  var( --mbdc-s-xs ) var( --mbdc-s-md ); ;
    border: 1px transparent;
    font-weight: normal;
    transition: background color .3s ease;
}


input,
select {
    &.form-control {
        @extend %form-field--base;
    }
}

@media screen and (min-width: 480px){
    .secao-container{        
    max-width: 480px;
    margin: 0 auto;
    }
}